<div class="container">
    <mat-accordion>
        <mat-expansion-panel class="mt-3">
          <mat-expansion-panel-header>
            <mat-panel-title> Guidance </mat-panel-title>
            <mat-panel-description class="icon-right">
              Open for step-by-step guidance
              <mat-icon>help</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card">
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-icon matListIcon class="list-icon">arrow_right</mat-icon>
                Item 1
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon class="list-icon">arrow_right</mat-icon>
                Item 2
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon matListIcon class="list-icon">arrow_right</mat-icon>
                Item 3
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>