<div class="container">
    <div class="row mt-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-5 shadow">
                <h2 class="card-title text-center primary">Reset password</h2>                    
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <div class="text-center mt-3">
                    <button mat-raised-button class="m-2 w-100" color="primary" (click)="forgotPassword()">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
